@page "/search/people"
@using Microsoft.AspNetCore.Components
@inherits SearchBase
@inject NavigationManager Navigation

<div class="input-row">
            <input type="text" @bind="searchText" placeholder="Search Text" name="searchText" class="search-input" required/>
            <button type="submit" class="submit-button">Ok</button>
</div>

<div class="select-row">
    <select name="skill" @bind="skill" class="custom-select">
        <option value="">Skills</option>
        @if (Skills != null && Skills.Any())
        {
        @foreach (var skill in Skills)
        {
        <option value="@skill.Name">@skill.Name</option>
        }
        }
    </select>

    <select name="location" class="custom-select">
        <option value="">Location</option>
        @if (Locations != null && Locations.Any())
        {
        @foreach (var location in Locations)
        {
        <option value="@location">@location</option>
        }
        }
    </select>
</div>

@if ( Profiles != null && Profiles.Any())
{
    <p>Profiles</p>

    <div class="search-results-container">
        @foreach (var profile in Profiles)
        {
            <div class="person-entry">
                <img src="@profile.UrlProfile" alt="Profile Image" class="profile-image"/>
                <div class="text-container">
                    <p class="person-name">@profile.FirstName @profile.LastName</p>
                    <p class="person-details">@profile.Bio - @profile.Location</p>

                </div>

            </div>
        }
    </div> 
}
else
{
    
    <div class="search-results-container">
      No Results Found
    </div> 
    
    
}


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name= "searchText")]
    public string searchText { get; set; }
    
}
