@page "/searchresults"
@using Microsoft.AspNetCore.Components
@inherits SearchBase
@inject NavigationManager Navigation

@if ( Profiles != null && Profiles.Any())
{
    <p>Profiles</p>

    <div class="search-results-container">
        @foreach (var profile in Profiles)
        {
            <div class="person-entry">
                <img src="@profile.UrlProfile" alt="Profile Image" class="profile-image"/>
                <div class="text-container">
                    <p class="person-name">@profile.FirstName @profile.LastName</p>
                    <p class="person-details">@profile.Bio - @profile.Location</p>

                </div>

            </div>
        }
    </div> 
}
else
{
    
    <div class="search-results-container">
      No Results Found
    </div> 
    
    
}
<!--
@if (ResultJobs != null && ResultJobs.Any())
{
    <p>Jobs</p>

    <div class="search-results-container">
        @foreach (var job in ResultJobs)
        {
            <div class="person-entry">
                <div class="text-container">
                    <p class="person-name">@job.Position </p>
                    <p class="person-details">@job.Description - @job.Experience</p>
                    <p class="person-details">@job.Localization</p>
                </div>

            </div>
        }
    </div>  
}
-->



@code {
    [Parameter]
    [SupplyParameterFromQuery(Name= "searchText")]
    public string searchText { get; set; }
    
    [SupplyParameterFromQuery(Name= "skill")]
    public string SkillSelected { get; set; }
    
}
