@page "/searchresults"
@using Microsoft.AspNetCore.Components
@inherits SearchBase
@inject NavigationManager Navigation

<div class="button-container">
   
</div>

<h3>Search Results</h3>

<p>You searched for: @searchText</p>

<div class="search-results-container">
    @if (Profiles != null && Profiles.Any())
    {
        @foreach (var profile in Profiles)
        {
            <div class="person-entry">
                <img src="@profile.UrlProfile" alt="Profile Image" class="profile-image"/>
                <div class="text-container">
                    <p class="person-name">@profile.FirstName @profile.LastName</p>
                    <p class="person-details">@profile.Bio - @profile.Location</p>

                </div>

            </div>
        }
    }
</div>



@code {
    [Parameter]
    [SupplyParameterFromQuery(Name= "searchText")]
    public string searchText { get; set; }
    
    [SupplyParameterFromQuery(Name= "skill")]
    public string SkillSelected { get; set; }
    
}
